@page
@model PlazmaStockGame.Pages.GameModel
@{

}
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Stock Transaction', 'representation'],
                ['Funds being used', 0],
                ['Funds Remaining', 100],
            ]);

            var options = {
                pieHole: 0.5,
                pieSliceTextStyle: {
                    color: 'black',
                },
                legend: 'none'
            };

            var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
            chart.draw(data, options);
        }
    </script>
    <style>
        .mainPanel {
            box-shadow: 2px 2px 6px 4px lightgrey;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            min-width: 600px;
            padding: 24px;
            border-radius: 10px;
        }

        .sidePanel {
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        @*user pannel*@
        <div class="col-3 float-start sidePanel">
            <div class="row">
                <div class="col">
                    <label>Welcome to the Game your stock is: @Model.Ticker</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Current Amount of money you have: @Model.CurrMoney</h2>
                </div>
            </div>
        </div>
        <!--Buy more page-->
        <div class="col-6 mx-auto mainPanel">
            <div class="row mx-auto">
                <label>Welcome to the Game your stock is: @Model.Ticker</label>
                <!--Div that will hold the pie chart-->
                <div id="donut_single" style="width: 900px; height: 500px;"></div>
            </div>
            <div class="row mx-auto">
                <p>Please enter an amount of stocks you want to buy:</p>
                <input class="w-25" type="number" id="txtQuantity" name="txtQuantity" min="1" max="100" onchange="updateSlider(this.value)">
            </div>
            <div class="row mx-auto">
                <label for="myRange">Please select an amount of stocks you want to buy</label>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="0" class="slider" id="myRange" onchange="updateTextInput(this.value)">
                </div>
            </div>
            <div class="row mx-auto sidePanel">
                <div class="col">
                    <div id="result"></div>
                    @Html.AntiForgeryToken()
                    <button id="btnSubmit" class="btn btn-success w-50 mx-auto">Submit</button>
                </div>
            </div>
        </div>
        @*options panel*@
        <div class="col-3 float-end"></div>
    </div>
</body>

@*<div>

    <p id="CurrentDay">Here is the Current Day: @Model.CurrDate</p>
    <div id="result">----</div>
    @Html.AntiForgeryToken()
    <button type="button" id="NextDay">Next Day</button>

</div>

@Html.AntiForgeryToken()
<button type="button" id="invokeAjaxHello">Run Hello</button>
<div id="result">----</div>*@


@section Scripts
    {
    <script type="text/javascript">
        function updateTextInput(val) {
            var purchase = @Model.CurrMoney * (val / 100);
            document.getElementById('txtQuantity').value = purchase;
            changeGraphValue(purchase);
        };
        function updateSlider(val) {
            var percent = (val / @Model.CurrMoney) * 100;
            document.getElementById('myRange').value = percent;
            changeGraphValue(val);
        };
        function changeGraphValue(purchase) {
            remaining = @Model.CurrMoney - purchase;
            var data = google.visualization.arrayToDataTable([
                ['Stock Transaction', 'representation'],
                ['Funds being used', purchase],
                ['Funds Remaining', remaining],
            ]);

            var options = {
                pieHole: 0.5,
                pieSliceTextStyle: {
                    color: 'black',
                },
                legend: 'none'
            };
            var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
            chart.draw(data, options);
        };
    </script>


    <script type="text/javascript">


        $("#NextDay").click(function() {
            $.ajax({
                type: "POST",
                url: "/Game?handler=NextDay",
                data: { "date": '@Model.CurrDate' },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("result").innerHTML = message;
                }
            });

        });

        $("#btnSubmit").click(function() {
            //var amount = document.getElementById('txtQuantity').value;
            // check witch radio button was clicked here and run a different ajax method for each one.
            $.ajax({
                type: "POST",
                url: "/Game?handler=Purchase",
                data: { "amount": 200 },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(message) {
                    document.getElementById("result").innerHTML = message;
                }
            });
        });

    </script>



}
