@page
@model PlazmaStockGame.Pages.GameModel
@{
    //var dataSet = new DataSet();
    //dataSet.ReadXmlSchema(Server.MapPath("~/App_Data/data.xsd"));
    //dataSet.ReadXml(Server.MapPath("~/App_Data/data.xml"));
    //var dataView = new DataView(dataSet.Tables[0]);
    //
    //
    //var myChart = new Chart(width: 600, height: 400)
    //    .AddTitle("Sales Per Employee")
    //    .AddSeries("Default", chartType: "Pie",
    //        xValue: dataView, xField: "Name",
    //        yValues: dataView, yFields: "Sales")
    //    .Write();

}





<label>Welcome to the Game your stock is: @Model.Ticker</label>

<h2>Current Amount of money you have: @Model.CurrMoney</h2>

<div>
    <p>Please enter an amount of stocks you want to buy:</p>
    <input type="number" id="txtQuantity" name="txtQuantity" min="1" max="100" onchange="updateSlider(this.value)">
</div>
<br />

<label for="myRange">Please select an amount of stocks you want to buy</label>
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange" onchange="updateTextInput(this.value)">
</div>

<br />

<div>

    <p id="CurrentDay">Here is the Current Day: @Model.CurrDate</p>
    <div id="result">----</div>
    @Html.AntiForgeryToken()
    <button type="button" id="NextDay">Next Day</button>

</div>

@Html.AntiForgeryToken()
<button type="button" id="invokeAjaxHello" >Run Hello</button>
<div id="result">----</div>







@section Scripts
{
    <script>
        function updateTextInput(val) {
          document.getElementById('txtQuantity').value=val; 
        }
        function updateSlider(val) {
          document.getElementById('myRange').value=val; 
        }

    </script>

    
    <script type="text/javascript">
        

        $("#NextDay").click(function() {
            $.ajax({
                type: "POST",
                url: "/Game?handler=NextDay",
                data:{"date": '@Model.CurrDate'},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function( message ) {
                    document.getElementById("result").innerHTML = message;
                }
            });

        });       
    </script>



}
